@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@font-face {
   font-family: 'Gotham_pro';
   src: url('../fonts/gothampro.eot');
   src: local('☺'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Gotham_pro';
   src: url('../fonts/gothampro_bold.eot');
   src: local('☺'), url('../fonts/gothampro_bold.woff') format('woff'), url('../fonts/gothampro_bold.ttf') format('truetype'), url('../fonts/gothampro_bold.svg') format('svg');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Gotham_pro';
   src: url('../fonts/gothampro_medium.eot');
   src: local('☺'), url('../fonts/gothampro_medium.woff') format('woff'), url('../fonts/gothampro_medium.ttf') format('truetype'), url('../fonts/gothampro_medium.svg') format('svg');
   font-weight: 500;
   font-style: normal;
}

body {
   font-family: 'Gotham_pro';
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   color: #171717;
   line-height: 150%;
   background-color: #ecf3fb;
}

/*Header*/
.header {
   background-color: #fff;
}
.logo img {
   width: 55px;
   height: 55px;
}
.logo-text {
   font-family: 'Manrope', sans-serif;
   font-weight: 600;
   line-height: 130%;
   padding-left: 8px;
}
.navbar-nav .nav-item .nav-link {
   color: #333333;
   padding: 10px 24px;
}
.bi-telegram {
   width: 25px;
   height: 25px;
}
.dropdown-toggle::after {
   display: none;
}
.log-in__link {
   padding: 12px 40px;
   background: #1749b3;
   border-radius: 12px;
   font-weight: 700;
   font-size: 17px;
   line-height: 130%;
}
/*Header end*/

@media (max-width: 1100px) {
   .navbar-nav .nav-item .nav-link {
      padding: 10px 18px;
   }
}
@media (max-width: 992px) {
   .navbar-nav .nav-item .nav-link {
      padding: 10px 13px;
   }
}
